
RemoteSystemsTempFiles/

\.metadata/

\.recommenders/

Number Theory/\.classpath

Number Theory/\.project

Number Theory/\.settings/org\.eclipse\.jdt\.core\.prefs

Dynamic Programming/\.classpath

Dynamic Programming/\.project

Dynamic Programming/\.settings/org\.eclipse\.jdt\.core\.prefs
